.stock-chart-container {
  height: calc(100vh - "56px");
  display: flex;
  flex-direction: column;
}

.stock-chart-container .row {
  flex: 1;
}

.chart-container {
  width: 100%;
  height: 100%;
  /* min-height: 300px; */
}