.stock-chart-container {
  height: calc(100vh - "56px");
  display: flex;
  flex-direction: column;
}

.stock-chart-container .row {
  flex: 1;
}

.chart-container {
  width: 100%;
  height: 100%;
  /* min-height: 300px; */
}

/* Modal css to make the background interactive while the overlay is showing  */
.backdrop-click-through {
  pointer-events: none; /* allow clicks through the dim overlay */
}

/* make the modal container click-through... */
.modal-click-through {
  pointer-events: none; /* allows clicks to pass through the area around dialog */
}

/* ...but keep the dialog contents interactive */
.modal-click-through .modal-dialog, .modal-click-through .modal-content {
  pointer-events: auto;
}

/* This class allows Modals from React-Bootsrap to have custom width when using dialogClassName="modal-width" in the component */
.modal-wider-width {
  max-width: 60% !important;
  width: 60% !important;
}

/* pushes modals with this class 3% of viewport height from top */
.custom-modal-position {
  margin-top: 3vh !important;
}